.board-container {
    display: grid;
    /* border: 1px solid lightgrey; */
    grid-template-columns: repeat(7, 1fr);
}

.button-container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.board-item {
    padding-bottom: 100%;
    position: relative;
}
