h2 {
    margin: 0 0 10px 0;
    padding: 0;
}

.lobby-container {
    border: 1px solid lightgrey;
    padding: 10px 0;
}

.lobby-list {
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.lobby-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 2px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}